nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    z-index: 99;
    position: relative;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #FEFAE0 15%);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;

}
nav div {
    display: flex;
    justify-content:space-between ;
    align-items: center;}

nav div a {
    margin-left: 50px;
    color: black;
    text-decoration: none;
    transition-duration: 0.3s;
}
nav div p {
    margin-left: 50px;
    color: black;
}
nav div a:hover {
    color: rgb(74, 74, 74);

}