
@charset "utf-8";
/* Template CSS */

body {
  margin-left: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

/*** Titres **/
h1 {
  text-align: left;
  font-size: 2em;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  color : darksalmon;
}

h3 {
  text-align: left;
  font-size: 1em;
  color : darkblue;
}

/*** Tableaux ***/

table,
th,
td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
}

th,
td {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

th {
  background-color: grey;
  color: white;
}

td {
  color: black;
}

td.total {
  font-weight: bold;
}

/* Panachage des lignes */
tr:nth-child(odd) {
  background-color: lightgrey;
}

tr:nth-child(even) {
  background-color: white;
}

/*** Formulaire ***/
label {
  margin-bottom: 5px;
}

label,
input {
  display: block;
  padding: 5px;
}

input[type="submit"] {
  font-weight: bold;
}